--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
python-multipart
psycopg2-binary
celery[redis]
redis
# CPU Optimized torch and diffusers
torch
diffusers
transformers
accelerate
peft
torchsde
rembg
Pillow
jinja2
requests
gguf>=0.10.0
